Skripsi-Job&BurstCompiler/Library/
Skripsi-Job&BurstCompiler/Temp/
Skripsi-Job&BurstCompiler/Logs/
Skripsi-Job&BurstCompiler/obj/
Skripsi-Job&BurstCompiler/Assembly-CSharp.csproj
Skripsi-Job&BurstCompiler/Skripsi-Job&BurstCompiler.sln
Skripsi-Job&BurstCompiler/Tayx.Graphy.csproj
Skripsi-Job&BurstCompiler/Tayx.Graphy.Editor.csproj
Skripsi-Job&BurstCompiler/.vs/Skripsi-Job&BurstCompiler/v16/.suo
